# ---------------------------------------------------------
# Sistema operacional
# ---------------------------------------------------------
.DS_Store
Thumbs.db

# ---------------------------------------------------------
# Python / Django
# ---------------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

db.sqlite3

# Virtualenv
.venv/
venv/

# PyCharm
.idea/

# ---------------------------------------------------------
# Ambiente / Segredos (CRÍTICO)
# ---------------------------------------------------------
.env
.env.*
*.env
*.env.*

staticfiles/

